.logo{
    height: 100px;
}
.navcolor{
    background-color: #FF7000;
}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.nav-link:hover{
    color: #540375;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items:center; 

}
.slogan{
    font-weight: bold;
    font-size: 24px;
    text-align:center; 
    margin-left: 26%;
}
.banner_section{
    text-align: center;
    padding: 10%;
    background-color: #FF7000;
    height: 600px;
    color: white;
}
h4{
    font-size: 5rem;
}
h5{
    font-size: 1rem;
}
.banner_nav{
    padding: 5%;
    margin-top: 10%;
}
@media (max-width: 768px) {

    .nav-item{
        margin-top: 15px;
        text-align: center;
        transition: all 0.5s ease;
    }
    .logo2{
        height: 100px;
    }
    .slogan{
        font-weight: bold;
        font-size: 24px;
        text-align:center; 
        margin-left: 26%;
}
.logo2{
    height: 100px;
    margin-left: 8%;
    position:relative;
}
.navbar-nav{
    background-color: #540375;
}
.nav-link{
    color: #FF7000;

}
.nav-item:hover{
    color: red;
    padding-left: 40px;
}
.nav-link:hover{
    color: white;
}
}



